@media screen and (max-width:700px) {
  .container__small-card {
    width: 350px;
  }

}

@media screen and (max-width:450px) {
  .container__small-card  {
    width: 150px;
  }

  .container__small-card-content{
    display: flex;
    flex-direction: column;

  }

}
